/* ALLGEMEINES CSS FÜR BODY HEADER ETC */
body {
  font-family: sans-serif;
  background-color: #333333;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  color: white;

  font-size: 14px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100%;
  background-image: url('../images/mainBackground.jpg');
  background-repeat: no-repeat;
}

header {
 background-color:rgb(126,37,125);
  padding: 15px 15px 15px 15px;
  position: relative;
  color: white;
}

header span {
  float: right;
  margin-right: 10em;
}

header div {
  height: 100%;
  width: 100%;
  display: inline-flex;
}

div .menu {
  display: inline-block;
  margin: 0;
}

div .accounts{
  display: inline-block;
  margin: 0;
}

/* LOGIN BUTTON ÄNDERUNGEN (DROPDOWN) */
#login-buttons {
  float: right;
}

#login-dropdown-list{
  width: 180px;
}


h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

/* CSS FÜR POSTS FORMULAR UND DASHBOARD DARSTELLUNG */
form .new-Post {
  margin-top: 10px;
  margin-bottom: -10px;
  display: inline;
  vertical-align: bottom;
}

.newPost input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.newPost input:focus{
  outline: 0;
}

span .likeCount {
  float: right;
}

ul {
  margin: 0 25% 0 25%;
  padding: 0;
  background: #333333;
}


li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom:black solid;
}

li .toggle-private {
  float: right;
  margin-left: 5px;
}

li .delete {
  float: right;
  position: relative;
  margin: 0 5px 0 0;
}

li .likeB{
  float: right;
}

li .author {
  float: left;
  clear: right;
}

li .likeCount{
  font-style: italic;
  font-size: 12px;
}

li .text {
  float:left;
  margin-left: 10px;
  clear: right;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

/* CSS FÜR DIE STARTSEITE UND LOGIN FORMULARE */
form label {
  display:inline-block;
}

form input {
  display:block;
}

div .LoginContainer {
 background-color:rgb(126,37,125);
  float: right;
  margin-right:5em;
  margin-top: 5em;
  border-radius: 20px;
  width: 350px;
  height:550px;

}

div .headline{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1em 1em 1em 1em;
  text-align:center;
  background-color:rgb(100,29,98);
}

div .formContainer{
  margin-top:3em;
  margin-left:16%;
}

form input{
  display:block;
  margin-bottom:1em;
  width:225px;
  border-radius:5px;
  border:0px;
  padding: 5px;
}

form input[type=submit]{
  margin-left:20%;
  width:100px;
  background-color:rgb(4,177,8);
  border:0px;
  border-radius:3px;
  color:white;
  padding:2px 2px 2px 2px;
  font-weight:bold;
}

.LoginLink{
  display:block;
  text-align:center;
  margin-bottom:1em;
  margin-right:30%;
}

.toggleLogin{
  border:none;
  background:none;
  color:rgb(4,177,8);
  font-weight:bold;
}

.toggleRegister{
  border:none;
  background:none;
  color:rgb(4,177,8);
  font-weight:bold;
}
/* ALLGEMEINES */
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
  .search {
    width: 150px;
    clear: both;
  }

  .newPost input {
    padding-bottom: 5px;
  }
}

